<div class="container">
  <div class="col-12">
    <div class="main-component">
      <div class="name">
        Laco Smokowski
      </div>
      <div class="secondary">
        Web Developer
      </div>
    </div>
    <div class="about-me">
      Im web developer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum nec dolor a ullamcorper.
      Praesent venenatis arcu enim, quis volutpat sem aliquam vel. Phasellus porta bibendum risus ac vulputate. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan sapien eu velit sagittis, quis viverra risus
      sollicitudin. Praesent facilisis nisi sed leo semper dapibus. Nunc finibus blandit libero, vel mattis nibh finibus
      tempus. Nulla pharetra turpis purus, a congue magna varius sit amet. Nullam tellus augue, elementum id
      sollicitudin ac, hendrerit et enim. Aenean vel imperdiet turpis.
    </div>
    <div class="post">
      Send me an email to lacosmok@gmail.com
    </div>
  </div>
</div>
