<div class="container">
  <div class="col-6">
    <div class="skills-box">
      Skills
      <!-- TODO: Icon here-->
    </div>
    <div class="development">
      <div class="minor-title">Development</div>
      <div class="skills-list">Angular</div>
      <div class="skills-list">Django</div>
      <div class="skills-list">AngularJS</div>
      <div class="skills-list">LESSCSS</div>
    </div>
    <div class="design">
      <div class="design"></div>
    </div>
  </div>
  <div class="col-6"></div>
</div>
